<p>
  <b>Text:</b>
  <%=h @sass.text %>
</p>

<p>
  <b>Name:</b>
  <%=h @sass.name %>
</p>

<p>
  <b>Age:</b>
  <%=h @sass.age %>
</p>


<%= link_to 'Edit', edit_sass_path(@sass) %> |
<%= link_to 'Back', sasses_path %>